body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
}

.subtext p {
    font-size: 18px;
    color: #e5e7eb;
}

.links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

li {
    margin-bottom: 5px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: #e5e7eb;
    padding: 30px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 33px;
}

.quote {
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

.author {
    font-weight: bolder;
    margin-top: 0;
    padding-left: 200px;
}

.signup-box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 100px;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

.signup-text {
    font-weight: bolder;
}

.signup-button {
    text-decoration: none;
    color: #f9faf8;
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random h1 {
    font-size: 36px;
    font-weight: 800;
}

.box-content, .square {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square {
    border: 2px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
}